@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* MOVE TO SHARED */
button {
  outline: none;
  border: none;
}

button:active {
  background-color: #e0e0e0;
}

input {
  border: none;
  outline: none;
}

/* MOVE TO SHARED */
body {
  margin: 0;
  font-family: 'Rubik', 'Poppins', sans-serif !important;
}

/* HOME page */

/* .not-found {
  display: flex;
  justify-content: center;
  text-align: center;
}

.not-found h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.not-found img {
  margin-bottom: 30px;
}

#page-content {
  padding: 0 100px;
} */
/* HOME page */
