.cart-items {
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding-right: 24px;
  padding-left: 24px;
  height: fit-content;
}

.cart-item {
  height: 140px;
  border-bottom: 1px solid var(--color-border);
}

.cart-item:last-of-type {
  border-bottom: none;
}

.trash-cart {
  cursor: pointer;
}
