.breadcrumb-row {
  align-items: center;
  display: flex;
  border-top: 1px solid #0000001a;
  padding: 30px 0;
  margin: 0px 100px;
}

.breadcrumb-row span {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000099;
}

.breadcrumb-row span::first-letter {
  text-transform: uppercase;
}

.breadcrumb-row span.bc-category {
  color: #000000;
}

.breadcrumb-row span a {
  text-decoration: none;
  color: #00000099;
}

.breadcrumb-row img {
  margin: 0 15px;
}

.category-wrapper {
  padding: 0 100px;
}

.side-menu {
  width: 295px;
  height: 100%;
  border-radius: 20px;
  border-width: 1px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #0000001a;
}

.side-menu .form-check-input {
  margin-top: 0;
}

.side-menu .form-check-input:checked {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.side-menu .form-check-input:focus {
  box-shadow: none !important;
  border-color: #6c757d !important;
  outline: none !important;
}

.side-menu label {
  width: fit-content;
}

.side-menu h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

.side-menu h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 0.5rem;
}

.side-menu span {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: 0%;
  color: #00000099;
  margin: 0;
}

.side-menu .no-brands {
  cursor: text;
}

.filter-slider-wrapper h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.noUi-handle {
  cursor: pointer !important;
  box-shadow: none !important;
}

.noUi-connect {
  background: #000000 !important;
}

.noUi-target,
.noUi-connect,
.noUi-base,
.noUi-origin {
  box-shadow: none !important;
}

.side-menu img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.menu-sort-items {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  padding: 25px 0;
  margin: 25px 0;
}

.menu-sort-item {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000099;
  margin-top: 15px;
}

.menu-sort-item.active {
  font-weight: 600;
  font-size: 17px;
}

.menu-sort-button-apply {
  width: 247px;
  height: 48px;
  border-radius: 62px;
  gap: 12px;
  background-color: #000000;
  color: white;
  margin-bottom: 20px;
}

.menu-sort-button-reset {
  width: 247px;
  height: 48px;
  border-radius: 62px;
  gap: 12px;
  background-color: #f2f0f1;
  color: black;
}

.gallery-wrapper {
  margin-left: 2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid red; */
}

.gallery-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}

.gallery-title::first-letter {
  text-transform: uppercase;
}

.no-gallery-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-gallery-items h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 25px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 24px;
}

.gallery-item {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #0000001a;
  overflow: hidden;
  padding: 0 20px;
}

.gallery-item-thumbnail {
  margin-bottom: 15px;
  border-bottom: 1px solid #0000001a;
  width: 100%;
}

.gallery-item div {
  margin-bottom: 15px;
}

.gallery-item-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.gallery-item-price {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-right: 7px;
}

.gallery-item-price.old {
  color: #00000066;
  text-decoration: line-through;
}

.rating img {
  margin-right: 4px;
}

.rating-num {
  margin-left: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.rating-num span {
  color: #00000099;
}

.discount {
  color: #ff3333;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 62px;
  height: 26px;
  border-radius: 62px;
  gap: 12px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-color: #ff33331a;
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.loading-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SPINNER */
.loader {
  height: 30px;
  aspect-ratio: 3;
  --c: no-repeat linear-gradient(#a7a7a7 0 0);
  background: var(--c) calc(0 * 100% / 5) 50%, var(--c) calc(1 * 100% / 5) 50%,
    var(--c) calc(2 * 100% / 5) 50%, var(--c) calc(3 * 100% / 5) 50%,
    var(--c) calc(4 * 100% / 5) 50%, var(--c) calc(5 * 100% / 5) 50%;
  background-size: calc(100% / 6 + 1px) 50%;
  animation: l19 1s infinite cubic-bezier(0.5, 170, 0.5, -170);
}
@keyframes l19 {
  14.28% {
    background-position: calc(0 * 100% / 5) 51%, calc(1 * 100% / 5) 50%,
      calc(2 * 100% / 5) 50%, calc(3 * 100% / 5) 50%, calc(4 * 100% / 5) 50%,
      calc(5 * 100% / 5) 50%;
  }
  28.57% {
    background-position: calc(0 * 100% / 5) 50%, calc(1 * 100% / 5) 51%,
      calc(2 * 100% / 5) 50%, calc(3 * 100% / 5) 50%, calc(4 * 100% / 5) 50%,
      calc(5 * 100% / 5) 50%;
  }
  42.85% {
    background-position: calc(0 * 100% / 5) 50%, calc(1 * 100% / 5) 50%,
      calc(2 * 100% / 5) 51%, calc(3 * 100% / 5) 50%, calc(4 * 100% / 5) 50%,
      calc(5 * 100% / 5) 50%;
  }
  57.14% {
    background-position: calc(0 * 100% / 5) 50%, calc(1 * 100% / 5) 50%,
      calc(2 * 100% / 5) 50%, calc(3 * 100% / 5) 51%, calc(4 * 100% / 5) 50%,
      calc(5 * 100% / 5) 50%;
  }
  71.42% {
    background-position: calc(0 * 100% / 5) 50%, calc(1 * 100% / 5) 50%,
      calc(2 * 100% / 5) 50%, calc(3 * 100% / 5) 50%, calc(4 * 100% / 5) 51%,
      calc(5 * 100% / 5) 50%;
  }
  85.71% {
    background-position: calc(0 * 100% / 5) 50%, calc(1 * 100% / 5) 50%,
      calc(2 * 100% / 5) 50%, calc(3 * 100% / 5) 50%, calc(4 * 100% / 5) 50%,
      calc(5 * 100% / 5) 51%;
  }
}
/* SPINNER */
