.breadcrumb-row {
  align-items: center;
  display: flex;
  border-top: 1px solid #0000001a;
  padding: 30px 100px;
}

.breadcrumb-row span {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000099;
}

.breadcrumb-row span::first-letter {
  text-transform: uppercase;
}

.breadcrumb-row span.bc-category {
  color: #000000;
}

.breadcrumb-row span a {
  text-decoration: none;
  color: #00000099;
}

.breadcrumb-row img {
  margin: 0 15px;
}

.category-wrapper {
  padding: 0 100px;
}

.side-menu {
  width: 295px;
  height: 503px;
  top: 204px;
  left: 100px;
  border-radius: 20px;
  gap: 24px;
  border-width: 1px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #0000001a;
}

.side-menu h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

.side-menu img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.menu-sort-items {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  padding: 25px 0;
  margin: 25px 0;
}

.menu-sort-item {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000099;
  margin-top: 20px;
}

.menu-sort-button-apply {
  width: 247px;
  height: 48px;
  border-radius: 62px;
  gap: 12px;
  background-color: #000000;
  color: white;
  margin-bottom: 20px;
}

.menu-sort-button-reset {
  width: 247px;
  height: 48px;
  border-radius: 62px;
  gap: 12px;
  background-color: #f2f0f1;
  color: black;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid red; */
}

.gallery-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000;
  padding-left: 50px;
}

.gallery-title::first-letter {
  text-transform: uppercase;
}

.no-gallery-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-gallery-items h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 25px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 24px;
  padding: 0 50px;
}

.gallery-item {
  width: 100%;
  /* max-width: 295px; */
  border-radius: 20px;
  border: 1px solid #0000001a;
  overflow: hidden;
}

.gallery-item-thumbnail {
  margin-bottom: 15px;
}

.gallery-item div {
  margin-bottom: 15px;
}

.gallery-item-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.gallery-item-price {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-right: 7px;
}

.gallery-item-price.old {
  color: #00000066;
  text-decoration: line-through;
}

.rating img {
  margin-right: 4px;
}

.rating-num {
  margin-left: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.rating-num span {
  color: #00000099;
}

.discount {
  color: #ff3333;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 62px;
  height: 26px;
  border-radius: 62px;
  gap: 12px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-color: #ff33331a;
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;
  overflow-wrap: break-word;
}
