.checkout-form {
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding-right: 24px;
  padding-left: 24px;
  height: fit-content;
}

.form-control-input {
  height: 43px;
  border-radius: 62px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  gap: 12px;
  background-color: var(--color-card-bg);
}

.form-control-input::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-text-secondary);
  opacity: 60%;
}

.form-control-input:first-of-type {
  margin-top: 1.3rem !important;
}

.form-control-input:last-of-type {
  margin-bottom: 1.3rem !important;
}

.form-control-input.error {
  border: 2px solid var(--color-validation-error);
}
