.cta-wrapper {
  position: relative;
  /* weird bug, when image re[eats its lowest 1px row up top */
  height: 875px;
  overflow: hidden;
}

.cta-wrapper img.cta-bg {
  width: 100%;
  /* weird bug, when image re[eats its lowest 1px row up top */
  transform: translateZ(0);
}

.cta-wrapper img.cta-star1 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 5px;
  right: 120px;
}

.cta-wrapper img.cta-star2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 230px;
  left: 950px;
}

.cta-text-overlay {
  top: 50%;
  padding: 0px 100px;
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.cta-stats-wrapper {
  padding-top: 4rem;
  display: flex;
}

.cta-stat-item {
  padding-right: 50px;
  padding-left: 50px;
  border-right: 1px solid var(--color-border);
}

.cta-stat-item:first-child {
  border-left: none;
  padding-right: 50px;
  padding-left: 0;
}

.cta-stat-item:last-child {
  padding-right: 0;
  padding-left: 50px;
  border-right: none;
}

.brand-showcase {
  background-color: var(--color-primary);
}

.brand-showcase img {
  height: 35px;
}

.cat-list-item {
  min-height: 370px;
  border-radius: 20px;
  background-color: var(--color-card-bg);
  overflow-wrap: anywhere;
  word-break: break-word;
  width: 100%;
}

.cat-list-item:hover {
  background-color: var(--color-card-bg-hover);
  cursor: pointer;
}
