.breadcrumb-row span:last-of-type {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.product-wrapper {
  padding: 0 100px;
}
